.container {
	display: grid;
	grid-template-columns: 1fr;
}
img {
	width: 100%;
	justify-self: center;
}
h3 {
	font-variant: small-caps;
	text-align: center;
	font-size: 1.5rem;
}
p {
	text-align: center;
}
