* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:host {
	display: block;
	width: 100%;
	background-color: #333333;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: auto;
}
h2 {
	padding: 16px;
	float: left;
}

.clock {
	float: right;
	width: fit-content;
	padding: 10px 16px 0 0;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: end;
}

.time {
	font-size: 1em;
}

.date {
	font-size: 1em;
}
.delimiter {
	display: none;
}

@media screen and (max-width: 600px) {
	h2 {
		float: none;
		padding: 4px 0 0 16px;
	}
	.delimiter {
		display: inline;
	}
	.clock {
		float: none;
		display: inline-block;
		padding: 0 0 8px 16px;
	}
}
