<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps Starter Project</title>
	</head>
	<body>
		<header>
			<section class="sticky">
				<div class="inner">
					<a class="menu" id="menu">☰</a>
					<h1 class="title">Restoran Review</h1>
				</div>
				<nav id="drawer">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Favorite</a></li>
						<li><a href="https://facebook.com/idsantri.page" target="_blank">About Us</a></li>
					</ul>
				</nav>
			</section>
			<section class="hero">
				<img src="./images/heros/hero-image_2.jpg" alt="" />
				<div class="hero-content">
					<h1 class="hero-title">Kuliner Indonesia</h1>
					<h2 class="hero-subtitle">Rasakan Lezatnya Cita Rasa Kuliner Indonesia</h2>
				</div>
			</section>
		</header>
		<main></main>
		<footer>
			<p>IDSantri @2022</p>
		</footer>
	</body>
</html>
