<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps Starter Project</title>
	</head>
	<body>
		<header>
			<section class="sticky">
				<div class="header__inner">
					<a id="menu" class="header__menu">☰</a>
					<h1 class="header__title">Restoran Review</h1>
				</div>
				<nav id="drawer">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Favorite</a></li>
						<li><a href="https://facebook.com/idsantri.page" target="_blank">About Us</a></li>
					</ul>
				</nav>
			</section>

			<section class="hero">
				<div class="hero-content">
					<h1 class="hero-title">Kuliner Indonesia</h1>
					<h2 class="hero-subtitle">Rasakan Lezatnya Cita Rasa Kuliner Indonesia</h2>
					<!-- <button type="button" class="hero-button" onclick="location.href='tours.html'">
						Search for tours &raquo;
					</button> -->
				</div>
			</section>
		</header>
		<main>
			<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
			<p>
				Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero
				elemen
			</p>
			<!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt="" /> -->
			<!-- <img src="./images/heros/hero-image_2.jpg" width="450" alt="" /> -->
			<!-- <img src="./images/heros/hero-image_3.jpg" width="450" alt="" /> -->
			<!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum aut laboriosam quia excepturi ullam
				doloremque corrupti consequuntur id voluptatem, labore laborum officia? Veniam, sunt maiores
				exercitationem debitis reprehenderit repudiandae nisi minima suscipit perferendis accusantium molestiae
				consequuntur odit natus. Sint, exercitationem! Totam vitae, eum nobis quaerat neque veritatis animi,
				odio perferendis reprehenderit, ipsum blanditiis repellat at ullam dicta fugiat cumque nesciunt magni.
				Dignissimos provident facere, repellat nisi accusamus porro quos beatae ipsa, animi voluptates dicta.
				Praesentium pariatur quae, sapiente nihil a eius autem corporis maxime commodi eos dignissimos molestiae
				ipsum neque libero animi et nobis dolor repudiandae quod, rem consectetur?
			</p>
		</main>
		<footer></footer>
	</body>
</html>
